.venv
venv
.*
*.egg-info
*.pyc
*.pyo
*.mo
*.db
*.css.map
*.sql.gz
.cache
.project
*/.idea/
.idea/
docker-compose*
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
stats
Dockerfile